<%= form_for(@post, comment) do |f| %>
  <!--  This my approve check box. -->
    <% if policy(comment).approve? %>
    <%# if CommentPolicy.new(current_user, comment).approve? %>
      <div class="row collapse">
        <div class="small-3 columns">
          <%= f.label :approved, class: "right inline", title: "Is this comment approved?",
              data: {tooltip: true } %>
        </div>
        <div class="small-9 columns">
          <%= f.check_box :approved %>
        </div>
        <div class="actions">
          <%= f.submit %>
        </div>
      </div>
    <% end %>
  <!--#############################-->
<% end %>
