body {
  background-color: #eee;
}


/* Debug */
/*
* {
  outline: 1px solid red;
}
*/

.column {
  display: inline-block;
}

.flex-container {
  margin-top: 3em;
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
}

.flex-container .half-width {
  width: 45%;
}

.flex-container .full-width {
  width: 93.25%;
}

#badge {
  background-color: #fff;
  height: 200px;
  width: 300px;
  margin: 1em 0 0 4em;
  border: 1px solid black;
  border-radius: 2em;
  -webkit-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
  overflow: hidden;
}

#badge p {
  text-align: center;
}

#badge #top-band {
  background-color: rgb(228, 46, 46);
}

p#hello {
  margin: 0;
  font-family: 'Source Code Pro', Arial, sans-serif;
  font-weight: 900;
  font-size: 2.2em;
  line-height: 1em;
  color: white;
}

p#my-name-is {
  position: relative;
  top: -5px;
  margin: 0;
  padding: 0 0 0 0;
  font-family: 'Source Code Pro', Arial, sans-serif;
  font-size: 1.1em;
  line-height: 1em;
  color: white;
}

p#name {
  position: relative;
  top: -15px;
  font-family: 'Nothing You Could Do', courier, monospace;
  font-weight: 900;
  font-size: 3em;
  -webkit-transform: rotate(-15deg);
      -ms-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

#badge #bottom-band {
  position: relative;
  top: -2em;
  height: 2em;
  background-color: rgb(228, 46, 46);
}

#social {
  width: 50%;
  display: flex;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  align-items: stretch;
  justify-content: space-evenly;
}

#social li {
  display: flex;
  align-self: center;
}

#tech-stack {
  box-sizing: border-box;
  padding: 1em 2em;
}

#tech-stack li {
  margin-left: 1em;
}

#apple-map {
  height: 15em;
  background-color: #ffffff;
}

#apple-map canvas {
  border-radius: .75em;
}

#google-map [aria-label="Map"] {
  border-radius: .75em;
  overflow: hidden;
}

.box-shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.border-radius {
  border-radius: .75em;
}

#social a {
  color: black;
  text-decoration: none;
}

.fa-angellist.fa-5x,
.fa-stack-overflow.fa-5x {
  top: .15em;
  padding: .2em;
  font-size: 3em;
  color: #eee;
  background-color: #000;
  border-radius: 0.2em;
  width: 1em;
  text-align: center;
}

footer {
  z-index: -1;
  box-sizing: border-box;
  margin-top: 2em;
  width: 100%;
  bottom: 0;
  padding: 0 2em 2em 0;
  text-align: right;
}


@media (max-width: 939px) {
  #badge {
    margin-bottom: 4em;
  }

  #social {
    width: initial;
    margin: 2em 10%;
  }

  #social li {
    margin: 1em auto;
  }

  #tech-stack {
    margin: 0 10%;
  }

  #google-map {
    height: 15em;
    margin-top: 3em;
  }

  .flex-container {
    display: block;
  }

  .flex-container .half-width {
    width: 80%;
    margin: 0 auto;
  }

  .flex-container .full-width {
    width: 80%;
  }
}

@media (max-width: 612px) {
  #badge {
    scale: 95%;
    margin: 0 auto;
    margin-bottom: 4em;
  }

  #social {
    margin-top: 2em;
  }

  #tech-stack {
    margin: 0 10%;
  }

  #google-map {
    height: 15em;
  }

  .flex-container {
    display: block;
  }
}
