<h1>Welcome to my portfolio app!</h1>
<br/>
<br/>
<h2>Hire me because:</h2>
<ul>
  <li>I'm completing a Code Fellows bootcamp!</li>
  <li>I'm learning Rails and Ruby!</li>
  <li>I'm a hard worker!</li>
<ul>
