        <!-- masthead -->
        <header class="masthead this_is_home">
            <div class="bck">
                <div class="row">
                    <nav class="top-bar" data-topbar>
                        <ul class="title-area">
                            <!-- Title Area -->
                            <li class="name">
                                <h1>
                                    <a class="logo" href="./index.html">
                                        <%= image_tag("images/favicon/logo.png", alt: "") %>
                                    </a>
                                </h1>
                            </li>
                            <li class="toggle-topbar menu-icon">
                                <a href="#">
                                    <span>Menu</span>
                                </a>
                            </li>
                        </ul><!-- /.title-area -->

                        <section class="top-bar-section">
                            <!-- Right Nav Section -->
                            <ul class="right">
                                <li class="active"><a href="index.html">Home</a></li>
                                <li><i class="icon_divider  fi-asterisk size-12"></i></li>
                                <li><a href="about.html">About Us</a></li>
                                <li><i class="icon_divider  fi-asterisk size-12"></i></li>
                                <li><a href="services.html">Services</a></li>
                                <li><i class="icon_divider  fi-asterisk size-12"></i></li>
                                <li><a href="portfolio.html">Portfolio</a></li>
                                <li><i class="icon_divider  fi-asterisk size-12"></i></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul><!-- /.right -->
                        </section><!-- /.top-bar-section -->
                    </nav> <!-- /.top-bar -->
                </div><!-- /.row -->
            </div><!-- /.bck -->



            <!-- Info -->
            <section class="info">
                <h1 class="info_text">MINIMAL</h1>
                <h2 class="info_text">DESIGN</h2>
            </section><!-- / .Info -->



            <!-- .share icons -->
            <section class="share_icons">
                <ul>
                    <li><a href="#"><i class="fi-social-facebook size-36"></i></a></li>
                    <li><a href="#"><i class="fi-social-twitter size-36"></i></a></li>
                    <li><a href="#"><i class="fi-social-youtube size-36"></i></a></li>
                    <li><a href="#"><i class="fi-social-instagram size-36"></i></a></li>
                </ul>
            </section><!-- / .share icons -->


        </header><!-- /.masthead -->



        <!-- .after_header -->
        <section class="after_header text-center sections">
            <div class="row">
                <div class="medium-10 small-centered columns">

                            <h2>Minimal Design,clean and fast template.</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, voluptatibus, consectetur, consequatur quod dolorum numquam impedit ut earum provident magnam magni atque possimus reprehenderit tempora in eum ullam delectus quisquam?</p>

                </div><!-- /.medium-10 .small-centered .columns -->
            </div><!-- /.row -->
        </section>
        <!-- / .after_header -->


        <!-- divider -->
        <section class="divider"></section>
        <!-- / divider -->


        <!--  info_box -->
        <section class="info_box sections">
            <div class="row">
                <div class="medium-4 columns">
                    <div class="after_header_col">
                        <div class="after_header_icon html5_ef">
                            <i class="fi-html5 size-72"></i>
                        </div><!-- / after_header_icon -->

                        <h4>Made with Foundation 5</h4>
                        <p>Assumenda, natus, doloribus eos suscipit possimus nam beatae rem iure hic veritatis ipsa.</p>

                    </div><!-- /.after_header_col -->
                </div><!-- /.medium-4 .columns -->

                <div class="medium-4 columns">
                    <div class="after_header_col">
                        <div class="after_header_icon css3_ef">
                            <i class="fi-css3 size-72"></i>
                        </div><!-- / after_header_icon -->

                        <h4>CSS3 adapted</h4>
                        <p>Assumenda, natus, doloribus eos suscipit possimus nam beatae rem iure hic veritatis ipsa.</p>

                    </div><!-- /.after_header_col -->
                </div><!-- /.medium-4 .columns -->

                <div class="medium-4 columns">
                    <div class="after_header_col">
                        <div class="after_header_icon eye_ef">
                            <i class="step fi-eye size-72"></i>
                        </div>
                        <!-- / after_header_icon -->

                        <h4>Readability</h4>
                        <p>Assumenda, natus, doloribus eos suscipit possimus nam beatae rem iure hic veritatis ipsa.</p>

                    </div><!-- /.after_header_col -->
                </div><!-- /.medium-4 .columns -->
            </div><!-- /.row -->
        </section><!-- / .info_box -->


        <!-- recentwork_box -->
        <section class="recentwork_box sections">
            <div class="row">
                <h3 class="small-12 large-12 column">
                    Last Portfolio Projects.
                </h3>
            </div>
            <div class="row">
                <div class="large-12  column">

                    <a class="tiny  button" data-orbit-link="cards">Cards</a>
                    <a class="tiny  button" data-orbit-link="mockups">Mockups</a>
                    <a class="tiny  button" data-orbit-link="design">Design</a>

                    <ul class="recentwork_slide"
                                    data-orbit
                                    data-options="animation:slide;
                                                        pause_on_hover:true;
                                                        navigation_arrows:false;
                                                        timer: false;
                                                        bullets:true;">

                      <li data-orbit-slide="cards">
                        <div>
                            <div class="tumb">
                                <div class="slidertp"> <%= image_tag("demo/cards_1.jpg", alt: "Recent Work") %></div>
                                <h4>Card One</h4>
                                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud  exercitation ullamco laboris nisi ut aliquip ex ea commodo."<a href="portfolio_item.html">More..</a></p>
                                <div class="sliderbt"> <%= image_tag("demo/cards_1.jpg", alt: "Recent Work") %></div>
                            </div><!-- /tumb -->


                            <div class="tumb">
                                <div class="slidertp"> <%= image_tag("demo/cards_2.jpg", alt: "Recent Work") %></div>
                                <h4>Card Two</h4>
                                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud  exercitation ullamco laboris nisi ut aliquip ex ea commodo."<a href="portfolio_item.html">More..</a></p>
                                <div class="sliderbt"> <%= image_tag("demo/cards_2.jpg", alt: "Recent Work") %></div>
                            </div><!-- /tumb -->


                            <div class="tumb">
                                <div class="slidertp"> <%= image_tag("demo/cards_3.jpg", alt: "Recent Work") %></div>
                                <h4>Card Three</h4>
                                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud  exercitation ullamco laboris nisi ut aliquip ex ea commodo."<a href="portfolio_item.html">More..</a></p>
                                <div class="sliderbt"> <%= image_tag("demo/cards_3.jpg", alt: "Recent Work") %></div>
                            </div><!-- /tumb -->



                            <div class="tumb">
                                <div class="slidertp"> <%= image_tag("demo/cards_4.jpg", alt: "Recent Work") %></div>
                                <h4>Card Four</h4>
                                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud  exercitation ullamco laboris nisi ut aliquip ex ea commodo ."<a href="portfolio_item.html">More..</a></p>
                                <div class="sliderbt"> <%= image_tag("demo/cards_4.jpg", alt: "Recent Work") %></div>
                            </div><!-- /tumb -->
                        </div>
                      </li>


                      <li data-orbit-slide="mockups">
                        <div>
                            <div class="tumb">
                                <div class="slidertp"> <%= image_tag("demo/mockup_1.jpg", alt: "Recent Work") %></div>
                                <h4>Mockups One</h4>
                                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud  exercitation ullamco laboris nisi ut aliquip ex ea commodo."<a href="portfolio_item.html">More..</a></p>
                                <div class="sliderbt"> <%= image_tag("demo/mockup_1.jpg", alt: "Recent Work") %></div>
                            </div><!-- /tumb -->


                            <div class="tumb">
                                <div class="slidertp"> <%= image_tag("demo/mockup_2.jpg", alt: "Recent Work") %></div>
                                <h4>Mockups Two</h4>
                                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud  exercitation ullamco laboris nisi ut aliquip ex ea commodo."<a href="portfolio_item.html">More..</a></p>
                                <div class="sliderbt"> <%= image_tag("demo/mockup_2.jpg", alt: "Recent Work") %></div>
                            </div><!-- /tumb -->


                            <div class="tumb">
                                <div class="slidertp"> <%= image_tag("demo/mockup_3.jpg", alt: "Recent Work") %></div>
                                <h4>Mockups Three</h4>
                                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud  exercitation ullamco laboris nisi ut aliquip ex ea commodo."<a href="portfolio_item.html">More..</a></p>
                                <div class="sliderbt"> <%= image_tag("demo/mockup_3.jpg", alt: "Recent Work") %></div>
                            </div><!-- /tumb -->



                            <div class="tumb">
                                <div class="slidertp"> <%= image_tag("demo/mockup_4.jpg", alt: "Recent Work") %></div>
                                <h4>Mockups Four</h4>
                                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud  exercitation ullamco laboris nisi ut aliquip ex ea commodo ."<a href="portfolio_item.html">More..</a></p>
                                <div class="sliderbt"> <%= image_tag("demo/mockup_4.jpg", alt: "Recent Work") %></div>
                            </div><!-- /tumb -->
                        </div>
                      </li>


                      <li data-orbit-slide="design">
                        <div>
                            <div class="tumb">
                                <div class="slidertp"> <%= image_tag("demo/design_1.jpg", alt: "Recent Work") %></div>
                                <h4>Design One</h4>
                                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud  exercitation ullamco laboris nisi ut aliquip ex ea commodo."<a href="portfolio_item.html">More..</a></p>
                                <div class="sliderbt"> <%= image_tag("demo/design_1.jpg", alt: "Recent Work") %></div>
                            </div><!-- /tumb -->


                            <div class="tumb">
                                <div class="slidertp"> <%= image_tag("demo/design_2.jpg", alt: "Recent Work") %></div>
                                <h4>Design Two</h4>
                                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud  exercitation ullamco laboris nisi ut aliquip ex ea commodo."<a href="portfolio_item.html">More..</a></p>
                                <div class="sliderbt"> <%= image_tag("demo/design_2.jpg", alt: "Recent Work") %></div>
                            </div><!-- /tumb -->


                            <div class="tumb">
                                <div class="slidertp"> <%= image_tag("demo/design_3.jpg", alt: "Recent Work") %></div>
                                <h4>Design Three</h4>
                                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud  exercitation ullamco laboris nisi ut aliquip ex ea commodo."<a href="portfolio_item.html">More..</a></p>
                                <div class="sliderbt"> <%= image_tag("demo/design_3.jpg", alt: "Recent Work") %></div>
                            </div><!-- /tumb -->



                            <div class="tumb">
                                <div class="slidertp"> <%= image_tag("demo/design_4.jpg", alt: "Recent Work") %></div>
                                <h4>Design Four</h4>
                                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud  exercitation ullamco laboris nisi ut aliquip ex ea commodo ."<a href="portfolio_item.html">More..</a></p>
                                <div class="sliderbt"> <%= image_tag("demo/design_4.jpg", alt: "Recent Work") %></div>
                            </div><!-- /tumb -->
                        </div>
                  </li>
                </ul><!-- / orbit -->

                </div><!-- / columns -->
            </div><!-- / row -->
        </section> <!-- / recentwork_box -->



        <!-- Prefooter -->
        <section class="prefooter">
            <div class="row">
                <div class="medium-8 small-centered columns">

                    <h3>Subscribe Now  on  Our  Netseller</h3>

                </div><!-- /.medium-8 .small-centered .columns -->

                <div class="medium-6 small-centered columns">
                    <div class="row collapse">

                        <div class="medium-8 columns">
                            <input type="email" placeholder="Enter your email">
                        </div><!-- /.medium-8 .columns -->

                        <div class="medium-4 columns">
                            <a href="#" class="button">Subscribe</a>
                        </div><!-- /.medium-4 .columns -->

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, magnam, quo, nesciunt temporibus quae.</p>

                    </div><!-- /.row .collapse -->
                </div><!-- /.medium-6 .small-centered .columns -->
            </div><!-- /.row -->
        </section><!-- / Prefooter -->



        <!-- Footer -->
        <section class="footer">
            <div class="toTop"><i class="fi-arrow-up size-32"></i></div>
            <div class="row">
                <div class="large-12 columns">
                    2013 &copy; Monoma.
                </div><!-- /.large-12 columns -->
            </div><!-- /.row -->
        </section>
        <!-- / Footer -->



        <!-- JS  here -->
        <script src="js/vendor/jquery.js"></script>
        <script src="js/foundation.min.js"></script>
        <script src="js/main.js"></script>
