<% content_for(:heading) do %>
  About Mike Taylor
<% end %>

<% content_for(:content) do %>
  <p>
   I am a Ruby on Rails web devloper, with a background in relational data quality assurance using SQL.
  </p>
  <p>
    I hold a BS in Civil Engineering. I have experience in construction management and experience with GIS mapping tools.
  </p>
 <% end %>

<%= render 'layouts/after_header' %>

<!--  Main -->
<section class="main_box sections">
    <div class="row"><!-- row -->
        <div class="large-6 l column">
            <form  id="contact" data-abide>
                <div class="name-field">
                    <label>Your name <small>required</small></label>
                    <input type="text" required pattern="[a-zA-Z]+">
                    <small class="error">Name is required and must be a string.</small>
                </div>
                <div class="email-field">
                    <label>Email <small>required</small></label>
                    <input type="email" required>
                    <small class="error">An email address is required.</small>
                </div>
                <div="message-field">
                    <label>Message</label>
                    <textarea  class="textarea" placeholder="How can I help you?"  ></textarea>
                <br />
                <button class="tiny" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div><!-- /.row -->
</section>
<!-- / main_box -->
