<% content_for(:info_text_line) do %>
  Updated: 5/5/14
<% end %>


<% content_for(:heading) do %>
  <h1> How to Install MySQL on Mac OS X (Mavericks) </h1>
  <p>Posted: 5/5/14<p>
<% end %>

<% content_for(:content) do %>
  <p>Lorem ipsum</p>
<% end %>

<%= render 'layouts/after_header' %>
