<!-- .after_header -->
<section class="after_header text-center sections">
    <div class="row">
        <div class="medium-10 small-centered columns">

                    <h2>Minimal Design,clean and fast template.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, voluptatibus, consectetur, consequatur quod dolorum numquam impedit ut earum provident magnam magni atque possimus reprehenderit tempora in eum ullam delectus quisquam?</p>

        </div><!-- /.medium-10 .small-centered .columns -->
    </div><!-- /.row -->
</section>
<!-- / .after_header -->

<!--  info_box -->
<section class="info_box sections">
    <div class="row">
        <div class="medium-4 columns">
            <div class="after_header_col">
                <div class="after_header_icon">
                </div><!-- / after_header_icon -->

                <h4>Made with Foundation 5</h4>
                <p>Assumenda, natus, doloribus eos suscipit possimus nam beatae rem iure hic veritatis ipsa.</p>

            </div><!-- /.after_header_col -->
        </div><!-- /.medium-4 .columns -->

        <div class="medium-4 columns">
            <div class="after_header_col">
                <div class="after_header_icon">
                </div><!-- / after_header_icon -->

                <h4>CSS3 adapted</h4>
                <p>Assumenda, natus, doloribus eos suscipit possimus nam beatae rem iure hic veritatis ipsa.</p>

            </div><!-- /.after_header_col -->
        </div><!-- /.medium-4 .columns -->

        <div class="medium-4 columns">
            <div class="after_header_col">
                <div class="after_header_icon">
                </div><!-- / after_header_icon -->

                <h4>Readability</h4>
                <p>Assumenda, natus, doloribus eos suscipit possimus nam beatae rem iure hic veritatis ipsa.</p>

            </div><!-- /.after_header_col -->
        </div><!-- /.medium-4 .columns -->
    </div><!-- /.row -->
</section><!-- / .info_box -->

