        <!-- .after_header -->
        <section class="after_header text-center sections">
            <div class="row">
                <div class="medium-10 small-centered columns">

                            <h2>Minimal Design,clean and fast template.</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, voluptatibus, consectetur, consequatur quod dolorum numquam impedit ut earum provident magnam magni atque possimus reprehenderit tempora in eum ullam delectus quisquam?</p>

                </div><!-- /.medium-10 .small-centered .columns -->
            </div><!-- /.row -->
        </section>
        <!-- / .after_header -->


        <!-- divider -->
        <section class="divider"></section>
        <!-- / divider -->


        <!--  info_box -->
        <section class="info_box sections">
            <div class="row">
                <div class="medium-4 columns">
                    <div class="after_header_col">
                        <div class="after_header_icon html5_ef">
                            <i class="fi-html5 size-72"></i>
                        </div><!-- / after_header_icon -->

                        <h4>Made with Foundation 5</h4>
                        <p>Assumenda, natus, doloribus eos suscipit possimus nam beatae rem iure hic veritatis ipsa.</p>

                    </div><!-- /.after_header_col -->
                </div><!-- /.medium-4 .columns -->

                <div class="medium-4 columns">
                    <div class="after_header_col">
                        <div class="after_header_icon css3_ef">
                            <i class="fi-css3 size-72"></i>
                        </div><!-- / after_header_icon -->

                        <h4>CSS3 adapted</h4>
                        <p>Assumenda, natus, doloribus eos suscipit possimus nam beatae rem iure hic veritatis ipsa.</p>

                    </div><!-- /.after_header_col -->
                </div><!-- /.medium-4 .columns -->

                <div class="medium-4 columns">
                    <div class="after_header_col">
                        <div class="after_header_icon eye_ef">
                            <i class="step fi-eye size-72"></i>
                        </div>
                        <!-- / after_header_icon -->

                        <h4>Readability</h4>
                        <p>Assumenda, natus, doloribus eos suscipit possimus nam beatae rem iure hic veritatis ipsa.</p>

                    </div><!-- /.after_header_col -->
                </div><!-- /.medium-4 .columns -->
            </div><!-- /.row -->
        </section><!-- / .info_box -->


        <!-- recentwork_box -->
        <section class="recentwork_box sections">
            <div class="row">
                <h3 class="small-12 large-12 column">
                    Last Portfolio Projects.
                </h3>
            </div>
            <div class="row">
                <div class="large-12  column">

                    <a class="tiny  button" data-orbit-link="cards">Cards</a>
                    <a class="tiny  button" data-orbit-link="mockups">Mockups</a>
                    <a class="tiny  button" data-orbit-link="design">Design</a>

                    <ul class="recentwork_slide"
                                    data-orbit
                                    data-options="animation:slide;
                                                        pause_on_hover:true;
                                                        navigation_arrows:false;
                                                        timer: false;
                                                        bullets:true;">

                      <li data-orbit-slide="cards">
                        <div>

                        </div>
                      </li>


                      <li data-orbit-slide="mockups">
                        <div>

                        </div>
                      </li>


                      <li data-orbit-slide="design">

                  </li>
                </ul><!-- / orbit -->

                </div><!-- / columns -->
            </div><!-- / row -->
        </section> <!-- / recentwork_box -->



        <!-- Prefooter -->
        <section class="prefooter">
            <div class="row">
                <div class="medium-8 small-centered columns">

                    <h3>Subscribe Now  on  Our  Netseller</h3>

                </div><!-- /.medium-8 .small-centered .columns -->

                <div class="medium-6 small-centered columns">
                    <div class="row collapse">

                        <div class="medium-8 columns">
                            <input type="email" placeholder="Enter your email">
                        </div><!-- /.medium-8 .columns -->

                        <div class="medium-4 columns">
                            <a href="#" class="button">Subscribe</a>
                        </div><!-- /.medium-4 .columns -->

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, magnam, quo, nesciunt temporibus quae.</p>

                    </div><!-- /.row .collapse -->
                </div><!-- /.medium-6 .small-centered .columns -->
            </div><!-- /.row -->
        </section><!-- / Prefooter -->



        <!-- Footer -->
        <section class="footer">
            <div class="toTop"><i class="fi-arrow-up size-32"></i></div>
            <div class="row">
                <div class="large-12 columns">
                    <p> 2013 &copy; Mike Taylor </p>
                    <%= link_to "@sea_local", "twitter.com/sea_local" %>
                    <%= link_to "in/mikeatayloreit", "linkedin.com/in/miketayloreit" %>
                </div><!-- /.large-12 columns -->
            </div><!-- /.row -->
        </section>
        <!-- / Footer -->



        <!-- JS  here -->
        <%#
        <script src="../assets/jquery.js"></script>
        <script src="../assets/foundation.min.js"></script>
        <script src="../assets/js/main.js"></script>
        %>

