<%= content_for (:info_text_line) do %>
    mike taylor
<% end %>


<!-- .after_header -->
<section class="after_header text-center sections">
    <div class="row">
        <div class="medium-10 small-centered columns">

            <h2>Ruby on Rails Web Development</h2>
            <p>Ruby on Rails is a web development framework.  I can create for you fast web applications with dynamic pages, an online store, or a dashboard for accessing your databases - all while customizing content for each user.</p>

        </div><!-- /.medium-10 .small-centered .columns -->
    </div><!-- /.row -->
</section>
<!-- / .after_header -->



<!--  info_box -->
<section class="info_box sections">
    <div class="row">
        <div class="medium-4 columns">
            <div class="after_header_col">
                <div class="after_header_icon">
                </div><!-- / after_header_icon -->

                <h4>Fast</h4>
                <p>Ruby on Rails will get your web app idea up and running quickly and efficiently.</p>

            </div><!-- /.after_header_col -->
        </div><!-- /.medium-4 .columns -->

        <div class="medium-4 columns">
            <div class="after_header_col">
                <div class="after_header_icon">
                </div><!-- / after_header_icon -->

                <h4>Dependable</h4>
                <p>Ruby on Rails is a proven framework, designed to keep your site running at optimum speed.</p>

            </div><!-- /.after_header_col -->
        </div><!-- /.medium-4 .columns -->

        <div class="medium-4 columns">
            <div class="after_header_col">
                <div class="after_header_icon">
                </div><!-- / after_header_icon -->

                <h4>Easy</h4>
                <p>Ruby on Rails is easy to maintain, fun for developers, and easy for customers and end-users.</p>

            </div><!-- /.after_header_col -->
        </div><!-- /.medium-4 .columns -->
    </div><!-- /.row -->
</section><!-- / .info_box -->

