        <!-- masthead -->
        <header class="masthead">
            <div class="bck">
                <div class="row">
                    <nav class="top-bar" data-topbar>
                        <ul class="title-area">
                            <!-- Title Area -->
                            <li class="name">
                                <h1>
                                    <a class="logo" href="./index.html">
                                        <img src="img/logo.png" alt="">
                                    </a>
                                </h1>
                            </li>
                            <li class="toggle-topbar menu-icon">
                                <a href="#">
                                    <span>Menu</span>
                                </a>
                            </li>
                        </ul>
                        <!-- /.title-area -->
                    </nav>
                    <!-- /.top-bar -->
                </div>
                <!-- /.row -->
            </div>
            <!-- Share icons -->
            <section class="share_icons">
                <ul>
                    <li><a href="#"><i class="fi-social-facebook size-36"></i></a>
                    </li>
                    <li><a href="#"><i class="fi-social-twitter size-36"></i></a>
                    </li>
                    <li><a href="#"><i class="fi-social-youtube size-36"></i></a>
                    </li>
                    <li><a href="#"><i class="fi-social-instagram size-36"></i></a>
                    </li>
                </ul>
            </section>
            <!-- / Share icons -->
        </header>
        <!-- /.masthead -->

        <!-- after_header -->
        <section class="after_header text-left">
            <div class="row">
                <div class="large-8 column">
                    <h2>Portfolio</h2>
                </div>
                <div class="large-4 column">
                    <ul class="breadcrumbs">
                        <li><a href="index.html">Home</a>
                        </li>
                        <li class="unavailable"><a href="#">Portfolio</a>
                        </li>

                    </ul>
                </div>
            </div>
            <!-- /.row -->
        </section>
        <!-- / after_header -->


        <!-- divider -->
        <section class="divider"></section>
        <!-- / divider -->

        <!--  Main -->
        <section class="main_box sections">
            <div class="row">
                <div class="small-12 large-12 column">

                    <ul id="filter">
                        <li class="current"><a href="#" class="tiny button">All</a>
                        </li>
                        <li><a href="#" class="tiny button">Cards</a>
                        </li>
                        <li><a href="#" class="tiny button">Mockups</a>
                        </li>
                        <li><a href="#" class="tiny button">Design</a>
                        </li>
                    </ul>


                    <ul id="portfolio">

                        <li class="cards portfolio-item">
                            <div class="tumb">
                                <div class="slidertp">
                                    <img src="img/demo/cards_1.jpg" alt="Recent Work">
                                </div>
                                <h4>Card One</h4>
                                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo."<a href="portfolio_item.html">More..</a>
                                </p>
                                <div class="sliderbt">
                                    <img src="img/demo/cards_1.jpg" alt="Recent Work">
                                </div>
                            </div>
                            <!-- /tumb -->
                        </li>

                        <li class="mockups portfolio-item">
                            <div class="tumb">
                                <div class="slidertp">
                                    <img src="img/demo/mockup_1.jpg" alt="Recent Work">
                                </div>
                                <h4>Mockups One</h4>
                                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo."<a href="portfolio_item.html">More..</a>
                                </p>
                                <div class="sliderbt">
                                    <img src="img/demo/mockup_1.jpg" alt="Recent Work">
                                </div>
                            </div>
                            <!-- /tumb -->
                        </li>

                        <li class="design portfolio-item">
                            <div class="tumb">
                                <div class="slidertp">
                                    <img src="img/demo/design_1.jpg" alt="Recent Work">
                                </div>
                                <h4>Design One</h4>
                                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo."<a href="portfolio_item.html">More..</a>
                                </p>
                                <div class="sliderbt">
                                    <img src="img/demo/design_1.jpg" alt="Recent Work">
                                </div>
                            </div>
                            <!-- /tumb -->
                        </li>


                        <li class="cards portfolio-item">
                            <div class="tumb">
                                <div class="slidertp">
                                    <img src="img/demo/cards_2.jpg" alt="Recent Work">
                                </div>
                                <h4>Card One</h4>
                                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo."<a href="portfolio_item.html">More..</a>
                                </p>
                                <div class="sliderbt">
                                    <img src="img/demo/cards_2.jpg" alt="Recent Work">
                                </div>
                            </div>
                            <!-- /tumb -->
                        </li>

                        <li class="mockups portfolio-item">
                            <div class="tumb">
                                <div class="slidertp">
                                    <img src="img/demo/mockup_2.jpg" alt="Recent Work">
                                </div>
                                <h4>Mockups One</h4>
                                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo."<a href="portfolio_item.html">More..</a>
                                </p>
                                <div class="sliderbt">
                                    <img src="img/demo/mockup_2.jpg" alt="Recent Work">
                                </div>
                            </div>
                            <!-- /tumb -->
                        </li>

                        <li class="design portfolio-item">
                            <div class="tumb">
                                <div class="slidertp">
                                    <img src="img/demo/design_2.jpg" alt="Recent Work">
                                </div>
                                <h4>Design One</h4>
                                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo."<a href="portfolio_item.html">More..</a>
                                </p>
                                <div class="sliderbt">
                                    <img src="img/demo/design_2.jpg" alt="Recent Work">
                                </div>
                            </div>
                            <!-- /tumb -->
                        </li>

                        <li class="cards portfolio-item">
                            <div class="tumb">
                                <div class="slidertp">
                                    <img src="img/demo/cards_3.jpg" alt="Recent Work">
                                </div>
                                <h4>Card One</h4>
                                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo."<a href="portfolio_item.html">More..</a>
                                </p>
                                <div class="sliderbt">
                                    <img src="img/demo/cards_3.jpg" alt="Recent Work">
                                </div>
                            </div>
                            <!-- /tumb -->
                        </li>

                        <li class="mockups portfolio-item">
                            <div class="tumb">
                                <div class="slidertp">
                                    <img src="img/demo/mockup_3.jpg" alt="Recent Work">
                                </div>
                                <h4>Mockups One</h4>
                                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo."<a href="portfolio_item.html">More..</a>
                                </p>
                                <div class="sliderbt">
                                    <img src="img/demo/mockup_3.jpg" alt="Recent Work">
                                </div>
                            </div>
                            <!-- /tumb -->
                        </li>

                        <li class="design portfolio-item">
                            <div class="tumb">
                                <div class="slidertp">
                                    <img src="img/demo/design_3.jpg" alt="Recent Work">
                                </div>
                                <h4>Design One</h4>
                                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo."<a href="portfolio_item.html">More..</a>
                                </p>
                                <div class="sliderbt">
                                    <img src="img/demo/design_3.jpg" alt="Recent Work">
                                </div>
                            </div>
                            <!-- /tumb -->
                        </li>

                        <li class="cards portfolio-item">
                            <div class="tumb">
                                <div class="slidertp">
                                    <img src="img/demo/cards_4.jpg" alt="Recent Work">
                                </div>
                                <h4>Card One</h4>
                                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo."<a href="portfolio_item.html">More..</a>
                                </p>
                                <div class="sliderbt">
                                    <img src="img/demo/cards_4.jpg" alt="Recent Work">
                                </div>
                            </div>
                            <!-- /tumb -->
                        </li>

                        <li class="mockups portfolio-item">
                            <div class="tumb">
                                <div class="slidertp">
                                    <img src="img/demo/mockup_4.jpg" alt="Recent Work">
                                </div>
                                <h4>Mockups One</h4>
                                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo."<a href="portfolio_item.html">More..</a>
                                </p>
                                <div class="sliderbt">
                                    <img src="img/demo/mockup_4.jpg" alt="Recent Work">
                                </div>
                            </div>
                            <!-- /tumb -->
                        </li>

                        <li class="design portfolio-item">
                            <div class="tumb">
                                <div class="slidertp">
                                    <img src="img/demo/design_4.jpg" alt="Recent Work">
                                </div>
                                <h4>Design One</h4>
                                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo."<a href="portfolio_item.html">More..</a>
                                </p>
                                <div class="sliderbt">
                                    <img src="img/demo/design_4.jpg" alt="Recent Work">
                                </div>
                            </div>
                            <!-- /tumb -->
                        </li>


                        <li class="cards portfolio-item">
                            <div class="tumb">
                                <div class="slidertp">
                                    <img src="img/demo/cards_1.jpg" alt="Recent Work">
                                </div>
                                <h4>Card One</h4>
                                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo."<a href="portfolio_item.html">More..</a>
                                </p>
                                <div class="sliderbt">
                                    <img src="img/demo/cards_1.jpg" alt="Recent Work">
                                </div>
                            </div>
                            <!-- /tumb -->
                        </li>

                        <li class="mockups portfolio-item">
                            <div class="tumb">
                                <div class="slidertp">
                                    <img src="img/demo/mockup_1.jpg" alt="Recent Work">
                                </div>
                                <h4>Mockups One</h4>
                                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo."<a href="portfolio_item.html">More..</a>
                                </p>
                                <div class="sliderbt">
                                    <img src="img/demo/mockup_1.jpg" alt="Recent Work">
                                </div>
                            </div>
                            <!-- /tumb -->
                        </li>

                        <li class="design portfolio-item">
                            <div class="tumb">
                                <div class="slidertp">
                                    <img src="img/demo/design_1.jpg" alt="Recent Work">
                                </div>
                                <h4>Design One</h4>
                                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo."<a href="portfolio_item.html">More..</a>
                                </p>
                                <div class="sliderbt">
                                    <img src="img/demo/design_1.jpg" alt="Recent Work">
                                </div>
                            </div>
                            <!-- /tumb -->
                        </li>


                    </ul><!-- /portfolio -->

                </div><!-- /columns -->
            </div><!-- /row -->

        </section>
        <!-- / main_box -->

        <%= render 'prefooter' %>


        <div id="myModal" class="reveal-modal" data-reveal>
            <div class="flex-video widescreen vimeo">
                <iframe src="http://player.vimeo.com/video/6625425" width="500" height="281"></iframe>
            </div>
            <a class="close-reveal-modal">&#215;</a>
        </div>
