<!-- after_header -->
<section class="after_header text-left">
  <div class="row">
      <div class="large-8 column"><h2>Services</h2></div>
      <div class="large-4 column">
          <ul class="breadcrumbs">
            <li><a href="index.html">Home</a></li>
            <li class="unavailable"><a href="#">Services</a></li>
          </ul>
      </div>
  </div><!-- /.row -->
</section><!-- / after_header -->


<!-- divider -->
<section class="divider"></section>
<!-- / divider -->

<!--  Main -->
<section class="main_box sections">
    <div class="row">
        <div class="large-12 column">

          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to</p>
          <hr>
        </div>
    </div><!-- /.row -->


    <!-- row -->
    <div class="row">
        <div class="large-12">
            <div class="divider"></div>
        </div>
    </div>
    <!-- /.row -->


    <!-- row -->
    <div class="row">
        <div class="large-12 column">
            <h3>Our Hosting Services.</h3>
        </div>
    </div>
    <!-- /.row -->


    <!-- row -->
    <div id="prices" class="row">
        <div class="large-3 medium-6 column">
            <ul class="plan">
              <li class="plan-name">
                  <h3>Beginner</h3>
              </li>
              <li class="plan-price">
                  <div>
                      <span class="price"><sup>$</sup>29</span>
                      <small>Month</small>
                  </div>
              </li>
              <li><strong>5</strong> Hours</li>
              <li><strong>1GB</strong> Cloud</li>
              <li><strong>400GB</strong> Bandwidth</li>
              <li><strong>Chat: </strong>Not Support</li>
              <li><strong>Forum: </strong> Support</li>
              <li class="plan-action">
                  <a href="#" class="button">Give me this</a>
              </li>
            </ul>
        </div>

        <div class="large-3 medium-6 column">
            <ul class="plan featured">
              <li class="plan-name">
                  <h3>Standard</h3>
              </li>
              <li class="plan-price">
                  <div>
                      <span class="price"><sup>$</sup>39</span>
                      <small>Month</small>
                  </div>
              </li>
              <li><strong>10</strong> Hours</li>
              <li><strong>5GB</strong> Cloud</li>
              <li><strong>400GB</strong> Bandwidth</li>
              <li><strong>Chat: </strong>Support</li>
              <li><strong>Forum: </strong> Support</li>
              <li class="plan-action"><a href="#" class="button">Give me this</a></li>
            </ul>
        </div>

        <div class="large-3 medium-6 column">
            <ul class="plan">
              <li class="plan-name">
                  <h3>Beginner</h3>
              </li>
              <li class="plan-price">
                  <div>
                      <span class="price"><sup>$</sup>29</span>
                      <small>Month</small>
                  </div>
              </li>
              <li><strong>5</strong> Hours</li>
              <li><strong>1GB</strong> Cloud</li>
              <li><strong>400GB</strong> Bandwidth</li>
              <li><strong>Chat: </strong>Not Support</li>
              <li><strong>Forum: </strong> Support</li>
              <li class="plan-action">
                  <a href="#" class="button">Give me this</a>
              </li>
            </ul>
        </div>

        <div class="large-3 medium-6 column">
            <ul class="plan">
              <li class="plan-name">
                  <h3>Beginner</h3>
              </li>
              <li class="plan-price">
                  <div>
                      <span class="price"><sup>$</sup>29</span>
                      <small>Month</small>
                  </div>
              </li>
              <li><strong>5</strong> Hours</li>
              <li><strong>1GB</strong> Cloud</li>
              <li><strong>400GB</strong> Bandwidth</li>
              <li><strong>Chat: </strong>Not Support</li>
              <li><strong>Forum: </strong> Support</li>
              <li class="plan-action">
                  <a href="#" class="button">Give me this</a>
              </li>
            </ul>
        </div>

    </div>
    <!-- /.row -->

</section>
<!-- / main_box -->

<%= render 'prefooter' %>
