        <!-- masthead -->
        <header class="masthead">
            <div class="bck">
                <div class="row">
                    <nav class="top-bar" data-topbar>
                        <ul class="title-area">
                            <!-- Title Area -->
                            <li class="name">
                                <h1>
                                    <a class="logo" href="./index.html">
                                        <img src="img/logo.png" alt="">
                                    </a>
                                </h1>
                            </li>
                            <li class="toggle-topbar menu-icon">
                                <a href="#">
                                    <span>Menu</span>
                                </a>
                            </li>
                        </ul><!-- /.title-area -->

                        <section class="top-bar-section">
                            <!-- Right Nav Section -->
                            <ul class="right">
                                <li class="active"><a href="index.html">Home</a></li>
                                <li><i class="icon_divider  fi-asterisk size-12"></i></li>
                                <li><a href="about.html">About Us</a></li>
                                <li><i class="icon_divider  fi-asterisk size-12"></i></li>
                                <li><a href="services.html">Services</a></li>
                                <li><i class="icon_divider  fi-asterisk size-12"></i></li>
                                <li><a href="portfolio.html">Portfolio</a></li>
                                <li><i class="icon_divider  fi-asterisk size-12"></i></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul><!-- /.right -->
                        </section><!-- /.top-bar-section -->
                    </nav> <!-- /.top-bar -->
                </div><!-- /.row -->
            </div>

            <!-- Share icons -->
            <section class="share_icons">
                <ul>
                    <li><a href="#"><i class="fi-social-facebook size-36"></i></a></li>
                    <li><a href="#"><i class="fi-social-twitter size-36"></i></a></li>
                    <li><a href="#"><i class="fi-social-youtube size-36"></i></a></li>
                    <li><a href="#"><i class="fi-social-instagram size-36"></i></a></li>
                </ul>
            </section>
            <!-- / Share icons -->

        </header>
        <!-- /.masthead -->



        <!-- after_header -->
        <section class="after_header text-left">
            <div class="row">
                <div class="large-8 column"><h2>Services</h2></div>
                <div class="large-4 column">
                    <ul class="breadcrumbs">
                      <li><a href="index.html">Home</a></li>
                      <li class="unavailable"><a href="#">Services</a></li>
                    </ul>
                </div>
            </div><!-- /.row -->
        </section><!-- / after_header -->


        <!-- divider -->
        <section class="divider"></section>
        <!-- / divider -->

        <!--  Main -->
        <section class="main_box sections">
            <div class="row">
                <div class="large-12 column">

                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to</p>
                        <hr>
                </div>
            </div><!-- /.row -->


            <!-- row -->
            <div class="row">
                <div class="large-12">
                    <div class="divider"></div>
                </div>
            </div>
            <!-- /.row -->


            <!-- row -->
            <div class="row">
                <div class="large-12 column">
                    <h3>Our Hosting Services.</h3>
                </div>
            </div>
            <!-- /.row -->


            <!-- row -->
            <div id="prices" class="row">
                <div class="large-3 medium-6 column">
                    <ul class="plan">
                      <li class="plan-name">
                          <h3>Beginner</h3>
                      </li>
                      <li class="plan-price">
                          <div>
                              <span class="price"><sup>$</sup>29</span>
                              <small>Month</small>
                          </div>
                      </li>
                      <li><strong>5</strong> Hours</li>
                      <li><strong>1GB</strong> Cloud</li>
                      <li><strong>400GB</strong> Bandwidth</li>
                      <li><strong>Chat: </strong>Not Support</li>
                      <li><strong>Forum: </strong> Support</li>
                      <li class="plan-action">
                          <a href="#" class="button">Give me this</a>
                      </li>
                    </ul>
                </div>

                <div class="large-3 medium-6 column">
                    <ul class="plan featured">
                      <li class="plan-name">
                          <h3>Standard</h3>
                      </li>
                      <li class="plan-price">
                          <div>
                              <span class="price"><sup>$</sup>39</span>
                              <small>Month</small>
                          </div>
                      </li>
                      <li><strong>10</strong> Hours</li>
                      <li><strong>5GB</strong> Cloud</li>
                      <li><strong>400GB</strong> Bandwidth</li>
                      <li><strong>Chat: </strong>Support</li>
                      <li><strong>Forum: </strong> Support</li>
                      <li class="plan-action"><a href="#" class="button">Give me this</a></li>
                    </ul>
                </div>

                <div class="large-3 medium-6 column">
                    <ul class="plan">
                      <li class="plan-name">
                          <h3>Beginner</h3>
                      </li>
                      <li class="plan-price">
                          <div>
                              <span class="price"><sup>$</sup>29</span>
                              <small>Month</small>
                          </div>
                      </li>
                      <li><strong>5</strong> Hours</li>
                      <li><strong>1GB</strong> Cloud</li>
                      <li><strong>400GB</strong> Bandwidth</li>
                      <li><strong>Chat: </strong>Not Support</li>
                      <li><strong>Forum: </strong> Support</li>
                      <li class="plan-action">
                          <a href="#" class="button">Give me this</a>
                      </li>
                    </ul>
                </div>

                <div class="large-3 medium-6 column">
                    <ul class="plan">
                      <li class="plan-name">
                          <h3>Beginner</h3>
                      </li>
                      <li class="plan-price">
                          <div>
                              <span class="price"><sup>$</sup>29</span>
                              <small>Month</small>
                          </div>
                      </li>
                      <li><strong>5</strong> Hours</li>
                      <li><strong>1GB</strong> Cloud</li>
                      <li><strong>400GB</strong> Bandwidth</li>
                      <li><strong>Chat: </strong>Not Support</li>
                      <li><strong>Forum: </strong> Support</li>
                      <li class="plan-action">
                          <a href="#" class="button">Give me this</a>
                      </li>
                    </ul>
                </div>

            </div>
            <!-- /.row -->

        </section>
        <!-- / main_box -->


        <!-- recentwork_box -->
        <section class="recentwork_box sections">
            <div class="row">
                <h3 class="small-12 large-12 column">
                    Last Portfolio Projects.
                </h3>
            </div>
            <div class="row">
                <div class="large-12  column">

                    <a class="tiny  button" data-orbit-link="cards">Cards</a>
                    <a class="tiny  button" data-orbit-link="mockups">Mockups</a>
                    <a class="tiny  button" data-orbit-link="design">Design</a>

                    <ul class="recentwork_slide"
                                    data-orbit
                                    data-options="animation:slide;
                                                        pause_on_hover:true;
                                                        navigation_arrows:false;
                                                        timer: false;
                                                        bullets:true;">

                      <li data-orbit-slide="cards">
                        <div>
                            <div class="tumb">
                                <div class="slidertp"> <img src="img/demo/cards_1.jpg" alt="Recent Work"></div>
                                <h4>Card One</h4>
                                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud  exercitation ullamco laboris nisi ut aliquip ex ea commodo."<a href="portfolio_item.html">More..</a></p>
                                <div class="sliderbt"> <img src="img/demo/cards_1.jpg" alt="Recent Work"></div>
                            </div><!-- /tumb -->


                            <div class="tumb">
                                <div class="slidertp"> <img src="img/demo/cards_2.jpg" alt="Recent Work"></div>
                                <h4>Card Two</h4>
                                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud  exercitation ullamco laboris nisi ut aliquip ex ea commodo."<a href="portfolio_item.html">More..</a></p>
                                <div class="sliderbt"> <img src="img/demo/cards_2.jpg" alt="Recent Work"></div>
                            </div><!-- /tumb -->


                            <div class="tumb">
                                <div class="slidertp"> <img src="img/demo/cards_3.jpg" alt="Recent Work"></div>
                                <h4>Card Three</h4>
                                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud  exercitation ullamco laboris nisi ut aliquip ex ea commodo."<a href="portfolio_item.html">More..</a></p>
                                <div class="sliderbt"> <img src="img/demo/cards_3.jpg" alt="Recent Work"></div>
                            </div><!-- /tumb -->



                            <div class="tumb">
                                <div class="slidertp"> <img src="img/demo/cards_4.jpg" alt="Recent Work"></div>
                                <h4>Card Four</h4>
                                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud  exercitation ullamco laboris nisi ut aliquip ex ea commodo ."<a href="portfolio_item.html">More..</a></p>
                                <div class="sliderbt"> <img src="img/demo/cards_4.jpg" alt="Recent Work"></div>
                            </div><!-- /tumb -->
                        </div>
                      </li>
                      <li data-orbit-slide="mockups">
                        <div>
                            <div class="tumb">
                                <div class="slidertp"> <img src="img/demo/mockup_1.jpg" alt="Recent Work"></div>
                                <h4>Mockups One</h4>
                                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud  exercitation ullamco laboris nisi ut aliquip ex ea commodo."<a href="portfolio_item.html">More..</a></p>
                                <div class="sliderbt"> <img src="img/demo/mockup_1.jpg" alt="Recent Work"></div>
                            </div><!-- /tumb -->


                            <div class="tumb">
                                <div class="slidertp"> <img src="img/demo/mockup_2.jpg" alt="Recent Work"></div>
                                <h4>Mockups Two</h4>
                                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud  exercitation ullamco laboris nisi ut aliquip ex ea commodo."<a href="portfolio_item.html">More..</a></p>
                                <div class="sliderbt"> <img src="img/demo/mockup_2.jpg" alt="Recent Work"></div>
                            </div><!-- /tumb -->


                            <div class="tumb">
                                <div class="slidertp"> <img src="img/demo/mockup_3.jpg" alt="Recent Work"></div>
                                <h4>Mockups Three</h4>
                                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud  exercitation ullamco laboris nisi ut aliquip ex ea commodo."<a href="portfolio_item.html">More..</a></p>
                                <div class="sliderbt"> <img src="img/demo/mockup_3.jpg" alt="Recent Work"></div>
                            </div><!-- /tumb -->



                            <div class="tumb">
                                <div class="slidertp"> <img src="img/demo/mockup_4.jpg" alt="Recent Work"></div>
                                <h4>Mockups Four</h4>
                                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud  exercitation ullamco laboris nisi ut aliquip ex ea commodo ."<a href="portfolio_item.html">More..</a></p>
                                <div class="sliderbt"> <img src="img/demo/mockup_4.jpg" alt="Recent Work"></div>
                            </div><!-- /tumb -->
                        </div>
                      </li>
                      <li data-orbit-slide="design">
                        <div>
                            <div class="tumb">
                                <div class="slidertp"> <img src="img/demo/design_1.jpg" alt="Recent Work"></div>
                                <h4>Design One</h4>
                                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud  exercitation ullamco laboris nisi ut aliquip ex ea commodo."<a href="portfolio_item.html">More..</a></p>
                                <div class="sliderbt"> <img src="img/demo/design_1.jpg" alt="Recent Work"></div>
                            </div><!-- /tumb -->


                            <div class="tumb">
                                <div class="slidertp"> <img src="img/demo/design_2.jpg" alt="Recent Work"></div>
                                <h4>Design Two</h4>
                                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud  exercitation ullamco laboris nisi ut aliquip ex ea commodo."<a href="portfolio_item.html">More..</a></p>
                                <div class="sliderbt"> <img src="img/demo/design_2.jpg" alt="Recent Work"></div>
                            </div><!-- /tumb -->


                            <div class="tumb">
                                <div class="slidertp"> <img src="img/demo/design_3.jpg" alt="Recent Work"></div>
                                <h4>Design Three</h4>
                                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud  exercitation ullamco laboris nisi ut aliquip ex ea commodo."<a href="portfolio_item.html">More..</a></p>
                                <div class="sliderbt"> <img src="img/demo/design_3.jpg" alt="Recent Work"></div>
                            </div><!-- /tumb -->



                            <div class="tumb">
                                <div class="slidertp"> <img src="img/demo/design_4.jpg" alt="Recent Work"></div>
                                <h4>Design Four</h4>
                                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud  exercitation ullamco laboris nisi ut aliquip ex ea commodo ."<a href="portfolio_item.html">More..</a></p>
                                <div class="sliderbt"> <img src="img/demo/design_4.jpg" alt="Recent Work"></div>
                            </div><!-- /tumb -->
                        </div>
                  </li>
                </ul><!-- / orbit -->

                </div><!-- / columns -->
            </div><!-- / row -->
        </section>
        <!-- / recentwork_box -->



        <!-- Prefooter -->
        <section class="prefooter">
            <div class="row">
                <div class="medium-8 small-centered columns">

                    <h3>Subscribe Now  on  Our  Netseller</h3>

                </div><!-- /.medium-8 .small-centered .columns -->

                <div class="medium-6 small-centered columns">
                    <div class="row collapse">

                        <div class="medium-8 columns">
                            <input type="email" placeholder="Enter your email">
                        </div><!-- /.medium-8 .columns -->

                        <div class="medium-4 columns">
                            <a href="#" class="button">Subscribe</a>
                        </div><!-- /.medium-4 .columns -->

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, magnam, quo, nesciunt temporibus quae.</p>

                    </div><!-- /.row .collapse -->
                </div><!-- /.medium-6 .small-centered .columns -->
            </div>
        </section>
        <!-- / Prefooter -->
    </body>
</html>
