Hi Mike,

You just received a new message from <strong><%= @message.name %></strong>.

Reply to them at this e-mail address: <strong><%= @message.email %></strong>

<h2>Message text:</h2>
<%= @message.message %>


<br />
<p>
  The form for this message can be found at <%= link_to 'Connect Form', new_connect_url %>
</p>
