<!-- after_header -->
<section class="after_header text-center sections">
    <div class="row">
        <div class="medium-10 small-centered columns">
            <h2>
              <%= yield(:heading) %>
            </h2>
            <p>
              <%= content_for?(:content) ? yield(:content) : "" %>
            </p>
        </div><!-- /.medium-10 .small-centered .columns -->
    </div><!-- /.row -->
</section>
<!-- / after_header -->
