<!-- after_header -->
<section class="after_header text-center sections">
    <div class="row">
        <div class="medium-10 small-centered columns">
            <h2>Contact Me</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, voluptatibus, consectetur, consequatur quod dolorum numquam impedit ut earum provident magnam magni atque possimus reprehenderit tempora in eum ullam delectus quisquam?</p>
        </div><!-- /.medium-10 .small-centered .columns -->
    </div><!-- /.row -->
</section>
<!-- / after_header -->
