<!-- Footer -->
<section class="footer">
  <div class="row">
    <div class="large-12 columns">
      <p> 2014 &copy; Mike Taylor </p>
      <p><%= link_to "@sea_local", "https://twitter.com/sea_local" %></p>
      <p><%= link_to "in/mikeatayloreit", "https://www.linkedin.com/in/miketayloreit" %></p>
    </div><!-- /.large-12 columns -->
  </div><!-- /.row -->
</section>
<!-- / Footer -->
