<nav class="top-bar" data-topbar>
  <ul class="title-area">
  <!-- Title Area -->
    <li class="name">
      <h1>
        <%= link_to "MIKE TAYLOR", root_path, class: "logo" %>
      </h1>
    </li>
    <li class="toggle-topbar menu-icon">
      <a href="#">
        <span>Menu</span>
      </a>
    </li>
  </ul><!-- /.title-area -->

  <%= render 'layouts/nav_right' %>
</nav> <!-- /.top-bar -->
