<!-- Prefooter -->
<section class="prefooter">
    <div class="row">
        <div class="medium-8 small-centered columns">

            <h3>Subscribe Now  on  Our  Netseller</h3>

        </div><!-- /.medium-8 .small-centered .columns -->

        <div class="medium-6 small-centered columns">
            <div class="row collapse">

                <div class="medium-8 columns">
                    <input type="email" placeholder="Enter your email">
                </div><!-- /.medium-8 .columns -->

                <div class="medium-4 columns">
                    <a href="#" class="button">Subscribe</a>
                </div><!-- /.medium-4 .columns -->

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, magnam, quo, nesciunt temporibus quae.</p>

            </div><!-- /.row .collapse -->
        </div><!-- /.medium-6 .small-centered .columns -->
    </div><!-- /.row -->
</section><!-- / Prefooter -->
